scipy
matplotlib
tqdm
numpy
# ipywidgets==7.7.1
gradio
langchain
langchain-community
langchain-huggingface
blingfire
sentence-transformers
text-generation
transformers
accelerate
peft
bitsandbytes
datasets
chainlit
structlog
sentencepiece
faiss-cpu
opencv-python-headless # Installs system dependencies needed by unstructured
unstructured[pdf]
langchain-astradb
langgraph-checkpoint-cassandra @ git+https://github.com/johntrimble/langgraph-checkpoint-cassandra@main
chainlit-cassandra-data-layer @ git+https://github.com/johntrimble/chainlit-cassandra-data-layer@main
-e .
